h1 {
  margin-top: 40px;
}

.page {
  width: 700px;
  margin: 0 auto;
}

#balance {
  border-collapse: collapse;
}
#balance td, #balance th {
  border: 1px solid gray;
  padding: 5px 10px;
}

.error-message {
  margin-left: 5px;
  color: red;
  font-weight: bold;
  display: none;
}

.coupon-code {
  font-style: italic;
}

.material-icons {
  font-size: 18px;
  color: gray;
  cursor: pointer;
}
