
.label {
  color: red;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 3px;
}

.explain {
  margin-top: 5px;
  color: #888;
  font-size: .9em;
  padding: 10px;
  background: #eee;
  max-width: 350px;
  border-radius: 5px;
}

.slider {
  max-width: 250px;
}

.buttons {
  margin-top: 20px;
}

.status {
  float: right;
  font-weight: bold;
  display: none;
}
.status.success {
  padding: 3px 5px;
  color: white;
  background-color: #080;
  border-radius: 1em;
}
.status.error {
  color: red;
}

select#voices {
  min-width: 250px;
}
#voice-info.notice {
  color: blue;
  font-weight: bold;
}
#voice-info.success {
  color: #080;
  font-weight: bold;
}

#balance {
  display: none;
  color: gray;
}

#rate-edit-button, #languages-edit-button {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}

#rate-input-div {
  display: none;
}

#rate-input {
  width: 50px;
}

#rate-warning {
  color: blue;
  display: none;
}

#hotkeys-link {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}
