
button.close {
  float: right;
  display: none;
}

h2 {
  margin-top: 1rem;
}

.layout {
  width: 500px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px 30px;
  align-items: center;
}

.green-check {
  float: right;
  font-weight: bold;
  display: none;
  padding: 4px 5px 0 5px;
  color: white;
  background-color: #080;
  border-radius: 1em;
}

.buttons {
  margin-top: 1.5em;
}

#rate-edit-button > i, #languages-edit-button > i {
  font-size: 12px;
}

#rate-input-div {
  display: none;
}

#rate-warning {
  color: blue;
  display: none;
}

#hotkeys-link {
  color: gray;
  cursor: pointer;
  text-decoration: underline;
}

.spinner {
  display: inline-block;
  vertical-align: middle;
  border: 3px solid #333;
  border-top: 3px solid rgba(0,0,0,0);
  border-radius: 50%;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
