
body {
  margin: 20px 15px 10px 15px;
}
.dark-mode a {
  color: yellowgreen;
}

#speech-info {
  text-align: center;
}

#imgLoading {
  height: 32px;
}

#buttons {
  min-width: 85px;
  text-align: center;
  margin: 15px;
  white-space: nowrap;
}
#buttons > img {
  vertical-align: top;
}

.button-1 {
  cursor: pointer;
  border: 2px outset;
  border-radius: 5px;
  background-color: #e4e4e4;
  font-size: x-large;
  color: #757575;
  padding: 3px;
  text-shadow: 1px 1px white;
}
.button-1:active {
  border: 2px inset;
}
.button-1:hover {
  color: #606060;
}

#btnRewind, #btnForward {
  margin: 0 1px;
  font-size: small;
  vertical-align: text-bottom;
}

body.is-popup #highlight {
  width: 350px;
  height: 300px;
}
#highlight {
  border: 1px solid lightgray;
  padding: 1rem;
  background-color: #ffefd5;
  line-height: 1.35em;
  overflow: auto;
  word-wrap: break-word;
  position: relative;
  box-sizing: border-box;
}
#highlight span.active {
  background-color: yellow;
}
.dark-mode #highlight {
  background-color: #333;
  border: none;
  color: #d0d0d0;
}
.dark-mode #highlight span.active {
  background-color: #0c4e00;
}
body:not(.is-popup) #highlight {
  height: calc(100vh - 150px);
}


#toolbar {
  margin-top: .5em;
  text-align: right;
  display: flex;
}
#toolbar .btn-group {
  display: flex;
}
#toolbar .btn-group:first-child {
  margin-right: auto;
}
#toolbar .btn-group:nth-child(2) {
  margin-right: .25rem;
}
#toolbar .btn-group .btn:first-child {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
#toolbar .btn-group .btn:last-child {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
#toolbar .btn {
  position: relative;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #212529;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#toolbar .btn:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
#toolbar .material-icons {
  font-size: 1em;
}
.dark-mode #toolbar .btn {
  background-color: #3e3e3e;
  color: #ddd;
}
body:not(.is-popup) #toolbar .btn-group.window-size {
  display: none;
}


#footer {
  text-align: center;
  font-size: small;
  line-height: 1.3em;
  color: #888;
  white-space: nowrap;
}
#footer:not(.announcement) a {
  color: #aaa;
}

#status {
  min-width: 250px;
  font-size: small;
  color: red;
  text-align: center;
  display: none;
}
.dark-mode #status {
  color: #f88;
}

#attribution {
  margin-top: 10px;
  text-align: center;
  font-size: smaller;
}
#attribution a {
  color: #888;
  text-decoration: none;
}

.google-logo span:nth-child(1), .google-logo span:nth-child(4) {
  color: #4885ed;
}
.google-logo span:nth-child(2), .google-logo span:nth-child(6) {
  color: #db3236;
}
.google-logo span:nth-child(3) {
  color: #f4c20d;
}
.google-logo span:nth-child(5) {
  color: #3cba54;
}
