
body {
  margin: 20px 15px 10px 15px;
  background: #4F4F4F;
}

#speech-info {
  text-align: center;
}

#buttons {
  min-width: 85px;
  text-align: center;
  margin: 15px;
  white-space: nowrap;
  background: #4F4F4F;
}
#buttons > img {
  vertical-align: top;
}

.button-1 {
  cursor: pointer;
  border-radius: 5px;
  font-size: x-large;
  color: #C5C5C5;
  padding: 3px;
  box-shadow: -2px -2px 6px rgba(189, 189, 189, 0.15), 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.button-1:active {
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.2), 2px 2px 6px rgba(189, 189, 189, 0.15);
}
.button-1:hover {
  color: #F8F8F8;
}

#btnRewind, #btnForward {
  margin: 0 1px;
  font-size: small;
  vertical-align: text-bottom;
}

#highlight {
  width: 350px;
  height: 300px;
  padding: 1rem;
  background-color: #686868;
  line-height: 1.35em;
  overflow: auto;
  word-wrap: break-word;
  position: relative;
  box-sizing: border-box;
  color: #FFF;
}
#highlight span.active {
  background: #3D0770;
}

#toolbar {
  margin-top: .5em;
  text-align: right;
  display: flex;
}
#toolbar .btn-group {
  display: flex;
}
#toolbar .btn-group:last-child {
  margin-left: auto;
}
#toolbar .btn-group .btn:first-child {
  border-radius: .5rem 0 0 .5rem;
}
#toolbar .btn-group .btn:last-child {
  border-radius: 0 .5rem .5rem 0;
}
#toolbar .btn {
  position: relative;
  flex: 0 1 auto;
  display: flex;
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #C5C5C5;
  background-color: #4F4F4F;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  border-width: 0;
  box-shadow: -2px -2px 6px rgba(189, 189, 189, 0.15), 2px 2px 6px rgba(0, 0, 0, 0.2);
}
#toolbar .btn:hover {
  background-color: #4F4F4F;
  color: #FFF;
}
#toolbar .btn:active {
  box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.2), 2px 2px 6px rgba(189, 189, 189, 0.15);
}
#toolbar .material-icons {
  font-size: 1em;
}

#footer {
  text-align: center;
  font-size: small;
  line-height: 1.3em;
  color: #888;
  white-space: nowrap;
}
#footer:not(.announcement) a {
  color: #aaa;
}

#status {
  min-width: 250px;
  font-size: small;
  color: red;
  text-align: center;
  display: none;
}

#attribution {
  margin-top: 10px;
  text-align: center;
  font-size: smaller;
}
#attribution a {
  color: #888;
  text-decoration: none;
}

.google-logo span:nth-child(1), .google-logo span:nth-child(4) {
  color: #4885ed;
}
.google-logo span:nth-child(2), .google-logo span:nth-child(6) {
  color: #db3236;
}
.google-logo span:nth-child(3) {
  color: #f4c20d;
}
.google-logo span:nth-child(5) {
  color: #3cba54;
}
