.container {
  width: 300px;
}

.label {
  color: red;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 3px;
}

.note {
  color: gray;
  font-style: italic;
}

#txt-url {
  width: 100%;
  box-sizing: border-box;
}

#txt-comment {
  width: 100%;
  box-sizing: border-box;
}

#img-spinner {
  width: 24px;
  display: none;
}

#lbl-status {
  font-weight: bold;
  color: #060;
}
#lbl-status.error {
  color: red;
}
