
body {
  color: #333;
}

.material-icons {
  font-size: 18px;
  color: gray;
  cursor: pointer;
  vertical-align: top;
}

#tbl-result {
  margin-top: 10px;
}
#tbl-result th {
  text-align: left;
}
#tbl-result th,
#tbl-result td {
  padding: 3px 5px;
}
