html, body {
  margin: 0;
  font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../images/body-background.png) #eae6d1;
}
a {
  text-decoration: none;
}

header {
  padding: 25px 0 40px 0;
  margin: 0;
  width: 100%;
  text-align: center;
  background: url(../images/background.png) #4276b6;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.75);
}
header h1 {
  font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f3f3f3;
  text-shadow: 0px 2px 0px #235796;
  margin: 0;
  white-space: nowrap;
}
header p {
  color: #d8d8d8;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  font-size: 18px;
  margin: 0px;
}

#banner {
  margin-top: -25px;
  width: 70%;
  height: 50px;
  background: #ffcc00;
  border: 1px solid #f0b500;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 2px 2px 0px;
}
#banner #logo {
  float: right;
  height: 36px;
  width: 36px;
  margin: 7px 7px;
  display: block;
  background: url(../images/octocat-logo.png);
}
#banner .button {
  margin-top: 6px;
  margin-left: 42.8%;
}

.button {
  border: 1px solid #dba500;
  background: linear_gradient(#ffe788, #ffce38);
  border-radius: 2px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFE788;
  padding: 10px 12px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  display: inline-block;
  text-align: center;
}
.button:hover {
  background: linear_gradient(#ffe788, #ffe788);
  background-color: #ffeca0;
}

.wrapper {
  width: 40%;
  margin: 25px auto;
  position: relative;
}

nav {
  width: 220px;
  position: absolute;
  margin-top: 22px;
  margin-left: -245px;
  text-align: right;
}
nav .item {
  font-size: 14px;
  margin-top: 10px;
  color: #666;
  cursor: pointer;
}
nav .item:hover {
  text-decoration: underline;
}
nav .item.active {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

section {
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  position: relative;
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.09), inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5), inset 0 0 5px 5px rgba(255, 255, 255, 0.4);
  color: #666;
  display: none;
}
section.active {
  display: block;
}
section h1 {
  font-size: 28px;
  color: #333;
}
